@import './variable.scss';
@mixin flexSpaceBetween {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceAround {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@mixin flexHeader{
    padding: 0 $common-wd;
    display: flex;
    height: 80px;
    border-top: 1px solid rgba($color: $base-color, $alpha: 0.2);
}

@mixin  flexColumn1{
    flex: 1;
    color: $color-gray;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $text-size-h4;
}

@mixin  flexColumn3{
    flex: 3;
    font-weight: bold;
    padding-left: $common-wd;
    word-wrap:break-word;
    display: flex;
    align-items: center;
}

@mixin  btnStyle{
    width: 70px;
    height: 35px;
    border: none;
    font-weight: bold;
    color: $color-white;
}

@mixin absoluteCenter{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin  message{
    @include absoluteCenter;
    background-color: $base-color;
    color: $color-white;
    font-weight: bold;
    padding: $common-wd;

}