$base-color: #3399CC;
$base-color2: #99CCCC;
$color-white : #ffffff;
$color-green : #3ea5a7;;
$color-blue  : #1792e5;
$color-red   : #f95559;
$color-orange: #e07a53;;
$color-gray: #535656;
$text-color:#0d245a;

$text-size-base: 14px;
$text-size-h6: 14px;
$text-size-h5: 16px;
$text-size-h4: 18px;
$text-size-h3: 20px;
$text-size-h2: 22px;
$text-size-h1: 30px;

$common-min-wd: 10px;
$common-wd: 20px;

$assets-img: '../assets/images/';